*{
    text-align: center;
}

.aap {
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#fff;
  }
  
  
  .aap h1 {
    font-size: 24px;
    font-weight: bold;
    color: rosybrown;
  }
  
  
  .aap #ques {
    font-size: 18px;
    color: #101993;
  }
  

  .aap .foo {
    margin-right: 10px;

  }


  #aap #btn:disabled {
    background-color:blue;
    color:antiquewhite;
    cursor: not-allowed;
  }
   
